In [2]:
import pandas as pd

# 1️⃣ Load the CSV
df = pd.read_csv("/Users/zihan/Desktop/ai-job-market-analyzer/notebooks/ds_salaries.csv")

# 2️⃣ Standardize column names (lowercase + underscores)
df.columns = (
    df.columns.str.strip()
               .str.lower()
               .str.replace(' ', '_')
               .str.replace('-', '_')
)

# 3️⃣ Remove duplicate rows
df = df.drop_duplicates()

# 4️⃣ Trim whitespace from all string columns
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# 5️⃣ Handle missing values
# Drop rows where critical columns are missing
critical_cols = ['job_title', 'experience_level', 'employment_type', 'salary', 'salary_in_usd', 'work_year']
df = df.dropna(subset=critical_cols)

# 6️⃣ Convert numeric columns
numeric_cols = ['salary', 'salary_in_usd', 'remote_ratio', 'work_year']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Drop rows with invalid numeric values
df = df.dropna(subset=numeric_cols)

# 7️⃣ Standardize text values (examples)
df['experience_level'] = df['experience_level'].str.upper()
df['employment_type'] = df['employment_type'].str.upper()
df['company_size'] = df['company_size'].str.upper()

# Optional: fix inconsistent country codes
country_map = {'US': 'USA', 'GB': 'UK', 'IN': 'India'}
df['company_location'] = df['company_location'].replace(country_map)

# 8️⃣ Save cleaned data
df.to_csv("ds_salaries_cleaned.csv", index=False)

print("✅ Cleaned dataset saved as ds_salaries_cleaned.csv")
print(f"Rows before cleaning: {len(pd.read_csv('ds_salaries.csv'))}")
print(f"Rows after cleaning: {len(df)}")

✅ Cleaned dataset saved as ds_salaries_cleaned.csv
Rows before cleaning: 607
Rows after cleaning: 607

/var/folders/q9/1cvgqw212sn3z0wpcdxcn4t00000gn/T/ipykernel_5291/2917675320.py:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [12]:
print(df.head(50)[["job_title", "salary"]])

                                   job_title    salary
0                             Data Scientist     70000
1                 Machine Learning Scientist    260000
2                          Big Data Engineer     85000
3                       Product Data Analyst     20000
4                  Machine Learning Engineer    150000
5                               Data Analyst     72000
6                        Lead Data Scientist    190000
7                             Data Scientist  11000000
8                      Business Data Analyst    135000
9                         Lead Data Engineer    125000
10                            Data Scientist     45000
11                            Data Scientist   3000000
12                            Data Scientist     35000
13                         Lead Data Analyst     87000
14                              Data Analyst     85000
15                              Data Analyst      8000
16                             Data Engineer   4450000
17                         Big Data Engineer    100000
18                   Data Science Consultant    423000
19                        Lead Data Engineer     56000
20                 Machine Learning Engineer    299000
21                      Product Data Analyst    450000
22                             Data Engineer     42000
23                           BI Data Analyst     98000
24                       Lead Data Scientist    115000
25                  Director of Data Science    325000
26                        Research Scientist     42000
27                             Data Engineer    720000
28                     Business Data Analyst    100000
29                  Machine Learning Manager    157000
30                  Data Engineering Manager     51999
31                         Big Data Engineer     70000
32                            Data Scientist     60000
33                        Research Scientist    450000
34                              Data Analyst     41000
35                             Data Engineer     65000
36                   Data Science Consultant    103000
37                 Machine Learning Engineer    250000
38                              Data Analyst     10000
39                 Machine Learning Engineer    138000
40                            Data Scientist     45760
41                  Data Engineering Manager     70000
42  Machine Learning Infrastructure Engineer     44000
43                             Data Engineer    106000
44                             Data Engineer     88000
45                               ML Engineer     14000
46                            Data Scientist     60000
47                             Data Engineer    188000
48                            Data Scientist    105000
49                             Data Engineer     61500